In [329]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

penguins_size = pd.read_csv('./penguins_size.csv')
df = penguins_size.copy()

In [330]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   culmen_length_mm   342 non-null    float64
 3   culmen_depth_mm    342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                334 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

In [331]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
culmen_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
culmen_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0

In [332]:
df.head()

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [333]:
df.isna().sum(axis=0)

species               0
island                0
culmen_length_mm      2
culmen_depth_mm       2
flipper_length_mm     2
body_mass_g           2
sex                  10
dtype: int64

In [334]:
df = df.dropna()

In [335]:
df.isna().sum()

species              0
island               0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [336]:
df.shape

(334, 7)

In [337]:
df['species'].value_counts()

species
Adelie       146
Gentoo       120
Chinstrap     68
Name: count, dtype: int64

In [338]:
df['island'].value_counts()

island
Biscoe       164
Dream        123
Torgersen     47
Name: count, dtype: int64

In [339]:
df['sex'].value_counts()

sex
MALE      168
FEMALE    165
.           1
Name: count, dtype: int64

In [340]:
df = df[df["sex"] != '.']

In [341]:
df.isna().sum()

species              0
island               0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [342]:
df.shape

(333, 7)

In [343]:
df['sex'].isna().sum()

0

In [344]:
# from sklearn.preprocessing import OneHotEncoder

# oh = OneHotEncoder()
# encoder = oh.fit_transform(df['island'].values.reshape(-1,1)).toarray() # 인코딩 하기 전에 2차원 데이터로 변환
# df1 = pd.DataFrame(encoder, columns=[str(oh.categories_[0][i]) + '_onehot' for i in range (len(oh.categories_[0]))])
# df = pd.concat([df, df1], axis=1)

# print(df.shape)
# encoder = oh.fit_transform(df['sex'].values.reshape(-1,1)).toarray() # 인코딩 하기 전에 2차원 데이터로 변환
# df2 = pd.DataFrame(encoder, columns=[str(oh.categories_[0][i]) + '_onehot' for i in range (len(oh.categories_[0]))])
# df = pd.concat([df, df2], axis=1)

In [345]:
df1 = pd.get_dummies(df['sex'])
df2 = pd.get_dummies(df['island'])
df_tot = pd.concat([df, df1, df2], axis=1)

In [346]:
df_tot.shape

(333, 12)

In [347]:
X = df_tot.drop(['species','island','sex'], axis=1)
y = df_tot['species']
X.shape, y.shape

((333, 9), (333,))

In [348]:
X.head()

,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,FEMALE,MALE,Biscoe,Dream,Torgersen
0,39.1,18.7,181.0,3750.0,False,True,False,False,True
1,39.5,17.4,186.0,3800.0,True,False,False,False,True
2,40.3,18.0,195.0,3250.0,True,False,False,False,True
4,36.7,19.3,193.0,3450.0,True,False,False,False,True
5,39.3,20.6,190.0,3650.0,False,True,False,False,True

In [349]:
X.isna().sum()

culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
FEMALE               0
MALE                 0
Biscoe               0
Dream                0
Torgersen            0
dtype: int64

In [350]:
from sklearn.model_selection import train_test_split

# stratify: train과 test에서 target value가 공정하게 나눠줌

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y, shuffle=True)

In [351]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_s = scaler.fit_transform(X_train) # fit은 data로 학습, transform은 학습시킨 것을 적용
X_train_s

array([[ 0.16732502, -1.99231135,  0.83478089, ...,  1.03832798,
        -0.76994439, -0.41449508],
       [ 1.22705014,  1.25552054,  0.1212471 , ..., -0.96308682,
         1.29879509, -0.41449508],
       [ 0.87989881, -0.52063753,  1.4769613 , ...,  1.03832798,
        -0.76994439, -0.41449508],
       ...,
       [ 0.02115604,  1.25552054, -0.37822656, ..., -0.96308682,
         1.29879509, -0.41449508],
       [ 0.80681432, -0.46989015,  1.33425454, ...,  1.03832798,
        -0.76994439, -0.41449508],
       [-1.91558298,  0.90028893, -0.80634683, ..., -0.96308682,
        -0.76994439,  2.4125739 ]])

In [352]:
X_test_s = scaler.transform(X_test)

In [353]:
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

clf = SVC(random_state=42)
clf = clf.fit(X_train_s, y_train)

y_pred = clf.predict(X_test_s)
acc = accuracy_score(y_test, y_pred)
acc

0.9850746268656716